body {
	background-color: whitesmoke;
	}
.divPageBody {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 400px;
	}
.divNewsProduct {
	width: 680px;
	margin-left: auto;
	margin-right: auto;
	}
.divNewsProduct .divPageTop {
	width: 100%;
	margin-bottom: 25px;
	}
.divNewsProduct .divOpmlLink {
	margin-right: 10px;
	}

.divNewsProduct .divTopOfPageText {
	display: table-row;
	text-align: center;
	}
.divNewsProduct .divProductLogo {
	display: table-cell;
	padding-right: 5px;
	}
.divNewsProduct .divNameAndTagline {
	display: table-cell;
	}
.divNewsProduct .divProductTitle {
	font-family: "Oswald";
	font-size: 42px;
	line-height: 1.3em;
	letter-spacing: -2px;
	}
.divNewsProduct .divNameAndTagline {
	text-align: center;
	}

.divNewsProduct .divTabContent {
	}
